<label>Server Name</label>
<input type="text"
       class="form-control"
       [(ngModel)]="serverName"
/>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<p>{{ serverCreationStatus }}</p>

<label>Server Capacity</label>
<input type="text"
       class="form-control"
       [(ngModel)]="serverCapacity"
/>
<p>{{ serverCapacity }}</p>
<button
  class="btn btn-primary"
  [disabled]="serverCapacity === ''"
  (click)="onClearServerCapacity()"
>
  Clear Server Capacity
</button>
